[submodule "src/hector_slam"]
	path = src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
	branch = melodic-devel
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ros-planning/navigation.git
	branch = melodic-devel
[submodule "src/ddynamic_reconfigure"]
	path = src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
	branch = kinetic-devel
[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = melodic-devel
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = melodic-devel
[submodule "src/YOLOv3-ROS"]
	path = src/YOLOv3-ROS
	url = https://github.com/Pinkwink/YOLOv3-ROS
[submodule "src/depthimage_to_laserscan"]
	path = src/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git
[submodule "src/ROS-Object-Detection-2Dto3D-RealsenseD435"]
	path = src/ROS-Object-Detection-2Dto3D-RealsenseD435
	url = https://github.com/Mazhichaoruya/ROS-Object-Detection-2Dto3D-RealsenseD435.git
[submodule "src/auto_clear_costmap"]
	path = src/auto_clear_costmap
	url = https://github.com/NoThingA11/auto_clear_costmap.git
