<launch>
  <!-- map file -->
  <arg name="map_file" default="$(find wego)/map_resource/real.yaml"/>
    
  <!-- map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- amcl -->
  <include file="$(find scout_mini_2dnav)/launch/amcl.launch" />

  <!-- auto_clear_map -->
  <node name = "auto_clear_map" pkg="auto_clear_costmap" type="auto_clear_costmap_node"/>
  
  <!-- move base -->
  <include file="$(find scout_mini_2dnav)/launch/move_base_only.launch" />
  
  <!-- run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wego)/rviz/navigation.rviz" />
</launch>
